<h1 class="h1"> Bens <br>
  <button (click)="selecionar(true)" class="btn btn-sm btn-primary">
    <i class="fa fa-plus-circle"></i>
    Novo Bem
  </button>
</h1>

<div class="container">
  <div *ngIf="salvar_ok" class="alert alert-success">
    <strong>Sucesso!</strong> O bem foi cadastrado com sucesso.
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="salvar_ok = false"> × </button>
  </div>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
      <th>Nome</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= "let bem of bens">
      <td>{{bem.nome}} </td>
      <td align="center"> <img class="logoMarcas" ngSrc="{{marcas[bem.marca].logo}}"></td>
      <td>{{bem.modelo}}</td>
      <td>{{bem.descricao}}</td>
    </tr>
    </tbody>
  </table>

  <form *ngIf="selecionado == true" #cadastro="ngForm" (submit)="salvar()">

    <h1> Cadastrar Bem</h1>
    <p>Use este formulário para cadastrar um bem.</p>

      <div>
        <label for="tipo">Tipo de Bem</label><br>
        <select id="tipo" name="tipo" required class="form-control" [(ngModel)]="tipo">
          <option *ngFor="let t of tipos" [value]="t.id"> {{t.nome}} </option>
        </select>
      </div>

      <div>
        <label for="tipo">Marca do Bem</label><br>
        <select id="marca" name="marca" required class="form-control" [(ngModel)]="marca">
          <option *ngFor="let m of marcas" [value]="m.id">{{m.nome}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nome">Nome</label><br>
        <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="nome" required>
      </div>

      <div class="form-group">
        <label for="modelo">Modelo</label><br>
        <input type="text" id="modelo" name="modelo" class="form-control" [(ngModel)]="modelo">
      </div>

      <div>
        <label for="descricao">Descrição</label><br>
        <textarea id="descricao" name="descricao" [(ngModel)]="descricao" cols="70" rows="5" class="form-control"> </textarea>
      </div>

      <div class="text-right">
        <button type="submit" class="btn btn-success" [disabled]="!cadastro.valid">
          <i class="fa fa-save"></i>
          Salvar
        </button>

        <button type="reset" class="btn btn-secondary" (click)="cancelar()">
          <i class="fa fa-ban"></i>
          Cancelar
        </button>
      </div>
  </form>
</div>
